test.py
*.jpeg
*.jpg
*.png
.env
*.pt
*.onnx
datasets/
runs/
ControlPanel/__pycache__/
VisionDes/API/__pycache__/
VisionDes/API/VisionDescriptor/__pycache__/
VisionDes/API/VisionDescriptor/DataModel/__pycache__/
VisionDes/API/VisionDescriptor/DebugUtils/__pycache__/
VisionBot/API/__pycache__/
VisionBot/API/VectorDatabase/__pycache__/
VisionBot/API/VectorDatabase/DataModel/__pycache__/
*.mp4
tests/__pycache__/

